<span class="discord-user" data-discord-user="{{id}}">
  <span>{{id}}</span>
  {{!-- <a href="https://discord.com/users/{{id}}" target="_blank" title="{{username}}">
    <img src="{{avatar}}" alt="{{username}}" />
    <span class="ms-2">{{displayName}}</span>
  </a> --}}
</span>