{{!-- settings/field.hbs --}}
{{!--
  inputs:
    - data: the value to render
    - type: the type of the value (if known, otherwise it will be inferred)
    - metadata: the metadata for the settings (if any)
    - key: the key name of the value (required unless idx is provided)
    - idx: the index name of the value (required unless key is provided)
    - parentKey: the parent key name of the value (if any) - used for nested naming
    - path: the path to the metadata (if any)
    - isChild: whether this field is a child field (boolean, default: false)
--}}

{{!-- base primitive types --}}
{{!-- <div>
  <div>type: {{type}}</div>
  <div>key: {{key}}</div>
  <div>idx: {{idx}}</div>
  <div>parentKey: {{parentKey}}</div>
  <div>fieldType: {{settingFieldType value=data key=key metadata=metadata type=type}}</div>
  <div>forcedFieldType: {{settingFieldType value=data key=key metadata=metadata type=type force=true}}</div>
</div> --}}
{{#if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'string')}}

  {{> settings/fields/string 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key)) 
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    multiline=(eq (settingsGetMetadata metadata=(settingMetadata metadata=metadata key=(or key parentKey)) key="multiline") true)
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'password')}}

  {{> settings/fields/password 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key)) 
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'number') }}

  {{> settings/fields/number 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key))
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'boolean')}}

  {{> settings/fields/boolean 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key))
    metadata=(or (settingMetadata metadata=metadata key=(or key parentKey)) metadata)
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'regex')}}

  {{> settings/fields/regex 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key)) 
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{!-- special types --}}
{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'url') }}

  {{> settings/fields/url 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key))
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'image-url') }}

  {{> settings/fields/image-url 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key))
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'duration') }}

  {{> settings/fields/duration 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key)) 
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'datetime')}}

  {{> settings/fields/date 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key))
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}
{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'json')}}

  {{> settings/fields/json 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key))
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}
{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'channel')}}

  {{> settings/fields/channel 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key))
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'role')}}

  {{> settings/fields/role 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key))
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'mentionable')}}

  {{> settings/fields/mentionable 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's') 
    name=(concat parentKey (or idx key))
    metadata=(or (settingMetadata metadata=metadata key=(or key parentKey)) metadata)
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{else if (eq (settingFieldType value=data key=key metadata=metadata type=type) 'emoji')}}

  {{> settings/fields/emoji 
    value=data 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    id=(uuid 's')
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    name=(concat parentKey (or idx key))
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{!-- ARRAY & OBJECT --}}
{{!-- These are handled different to recursively call back to this view for each item --}}
{{else if (eq (settingFieldType value=data key=key metadata=metadata) 'array')}}
{{!-- (settingMetadata metadata=metadata key=(or key parentKey)) --}}
    {{!-- metadata=(or (settingMetadata metadata=metadata key=(or key parentKey)) metadata) --}}

  {{!--
    For arrays, we pass:
      - data: the array value
      - parentKey: the parent key name of the value (if any) - used for nested naming
      - key: the key name of the value (if any)
      - label: the label for the input group (if any)
      - metadata: the metadata for the setting (if any)
      - type: the type of the value (if known, otherwise it will be inferred)
      - path: the path to the metadata (if any)
      - isChild: whether this field is a child field (boolean, default: false)
  --}}
  {{> settings/fields/array 
    data=data 
    parentKey=(or key parentKey) 
    label=(settingFieldLabel key=(or idx key) metadata=metadata) 
    key=(or key parentKey)
    metadata=(settingMetadata metadata=metadata key=(or key parentKey))
    type=(settingFieldType value=data key=(or idx key) metadata=metadata force=true)
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{else if (eq (settingFieldType value=data key=key metadata=metadata) 'object')}}

  {{> settings/fields/object 
    data=data 
    parentKey=(or key parentKey) 
    label=(settingFieldLabel key=(or idx key) metadata=metadata)
    key=(or idx key)
    metadata=(or (settingMetadata metadata=metadata key=(or key parentKey)) metadata)
    type=(settingFieldType value=data key=key metadata=metadata force=true)
    path=(settingsCleanPath (concat path '.' key))
    isChild=isChild
  }}

{{!-- Unhandled type --}}
{{else}}
  {{#with (settingMetadata metadata=metadata key=(or key parentKey))}}
  <div class="mb-3 border rounded p-2">
    <div>{{../key}}</div>
    <div>
      <pre>
        <code>{{json this}}</code>
      </pre>
    </div>
    <div>
      <pre>
        <code>{{json ../data}}</code>
      </pre>
    </div>
    <div>fieldType: {{settingFieldType value=../data key=../key metadata=this force=true}}</div>
    <div>label: {{settingFieldLabel key=(or ../idx ../key) metadata=this}}</div>
  </div>
  {{/with}}
{{/if}}
