{{!-- settings/fields/array.hbs --}}
{{!--
  inputs:
    - data: the array value
    - key: the key name of the value (if any)
    - label: the label for the input group (if any)
    - type: the type of the value (if known, otherwise it will be inferred)
    - parentKey: the parent key name of the value (if any) - used for nested naming
    - metadata: the metadata for the setting (if any)
    - path: the path to the metadata (if any)
    - isChild: whether this field is a child field (boolean, default: false)
--}}
{{> settings/fields/debug this}}
{{#if (eq (settingsGetMetadata metadata=metadata key="hidden") true)}}
  {{!-- do not render anything if this field is marked as not visible --}}
{{else}}
  {{> settings/metadata/deprecated/alert level="warning" metadata=metadata key=key dismissible=true}}


  <div class="mb-1 input-group" data-setting-type="{{or type 'any'}}[]" {{> settings/metadata/deprecated/attrs level="warning" metadata=metadata key=key}}>
    <label class="input-group-text" title="{{or label key}}">{{or label key}}</label>
    <ul class="list-group form-control p-0 m-0 pt-3">
      {{!-- iterate over each item in the array --}}
      {{!-- for each item, render a settings/field partial with idx as [index] and parentKey as parentKey + [index] --}}
      {{!-- also pass type and metadata down --}}
      {{!-- if the array is empty, show a message --}}
      {{#if (eq (length data) 0)}}
        <li class="list-group-item border-0 m-0 pt-0">
          <em class="text-muted text-center">No items in array</em>
        </li>
      {{/if}}
      {{#each data}}
        <li class="list-group-item border-0 m-0 pb-0 pt-0">
          <div class="">
              {{> settings/field data=this idx=(concat '[' @key ']') parentKey=(or ../parentKey @key) type=../type metadata=../metadata isChild=true path=path}}
          </div>
        </li>
      {{/each}}
    </ul>
  </div>

  {{#if (not isChild) }}
  {{!-- (settingMetadata metadata=metadata key=(or key parentKey)) --}}
  {{> settings/metadata/description metadata=metadata }}
  {{else}}
  <div class="mb-3"></div>
  {{/if}}
{{/if}}