{{!-- settings/fields/boolean.hbs --}}
{{!--
  inputs:
    - value: the number value
    - label: the label for the input (if any)
    - id: the id for the input (if any)
    - name: the name for the input (if any)
    - metadata: the metadata for the setting (if any)
--}}
<div class="input-group mb-3" data-setting-type="boolean">
  <div class="input-group-text">
    <input class="form-check-input mt-0" id="field-{{id}}" name="{{or name label}}" type="checkbox" value="{{value}}" {{#if value}}checked{{/if}} aria-label="{{label}}">
  </div>
  <label class="form-control text-start" for="field-{{id}}">{{label}}</label>
</div>