{{!-- settings/fields/image-url.hbs --}}
{{!--
  inputs:
    - value: the string image URL value
    - label: the label for the input (if any)
    - id: the id for the input (if any)
    - name: the name for the input (if any)
    - metadata: the metadata for the setting (if any)
    - path: the path to the metadata (if any)
    - isChild: whether this field is a child field (boolean, default: false)
--}}
<div class="input-group mb-1" data-setting-type="image-url">
  <label class="input-group-text" for="field-{{id}}">{{label}}</label>
  <input type="text" class="form-control" placeholder="{{label}}" aria-label="{{label}}" aria-describedby="field-{{id}}" value="{{value}}" name="{{or name label}}" id="field-{{id}}"/>
</div>

{{#if (not isChild) }}
{{> settings/metadata/description metadata=metadata }}
{{else}}
<div class="mb-3"></div>
{{/if}}