{{!-- settings/fields/object.hbs ----}}
{{!--
  inputs:
    - data: the object value
    - key: the key name of the value (if any)
    - parentKey: the parent key name of the value (if any) - used for nested naming
    - type: the type of the value (if known, otherwise it will be inferred)
    - metadata: the metadata for the setting (if any)
--}}
<div class="mb-3 input-group" data-setting-type="object">
  <label class="input-group-text" title="{{key}}">{{key}}</label>
  <ul class="list-group form-control">
  {{#each data}}
    <li class="list-group-item border-0">
      <div class="">
        {{!-- <div>key: {{@key}}</div>
        <div>data: {{json this}}</div>
        <div>type: {{or ../type 'null'}}</div>
        <div>metadata: {{json metadata}}</div>
        <div>parentKey: {{or parentKey @key}}</div> --}}
        {{!--
            - data: the value to render
            - type: the type of the value (if known, otherwise it will be inferred)
            - metadata: the metadata for the settings (if any)
            - key: the key name of the value (required unless idx is provided)
            - idx: the index name of the value (required unless key is provided)
            - parentKey: the parent key name of the value (if any) - used for nested naming
        --}}
        {{> settings/field
            data=this
            key=@key
            parentKey=parentKey
            type=null
            metadata=../metadata
        }}
      </div>
    </li>
  {{/each}}
  </ul>
</div>