{{!-- settings/fields/password.hbs --}}
{{!--
  inputs:
    - value: the string value
    - label: the label for the input (if any)
    - id: the id for the input (if any)
    - name: the name for the input (if any)
    - multiline: boolean to indicate if this is a multiline string
    - metadata: the metadata for the setting (if any)
    - path: the path to the metadata (if any)
    - isChild: whether this field is a child field (boolean, default: false)
--}}
{{> settings/fields/debug this}}
{{#if (eq (settingsGetMetadata metadata=metadata key="hidden") true)}}
  {{!-- do not render anything if this field is marked as not visible --}}
{{else}}
  {{> settings/metadata/deprecated/alert level="warning" metadata=metadata key=key}}


  <div class="input-group mb-1" data-setting-type="string">
    <label class="input-group-text" for="field-{{id}}" id="field-{{id}}-label">{{label}}</label>
    {{!-- TODO: add a "show password" toggle --}}
    <button class="btn btn-outline-secondary btn-sm border border-end-0 border-secondary-subtle" type="button"><i class="fas fa-eye" aria-hidden="true"></i></button>
    <input type="password" class="form-control" placeholder="{{label}}" aria-label="{{label}}" aria-describedby="field-{{id}}-label" value="{{value}}" name="{{or name label}}" id="field-{{id}}"/>
      {{!-- TODO: add a "show password" toggle --}}
    <button class="btn btn-outline-secondary btn-sm border border-start-0 border-secondary-subtle" type="button"><i class="fas fa-clipboard" aria-hidden="true"></i></button>

  </div>

  {{#if (not isChild) }}
  {{> settings/metadata/description metadata=metadata }}
  {{else}}
  <div class="mb-3"></div>
  {{/if}}
{{/if}}