{{!-- settings/fields/url.hbs --}}
{{!--
  inputs:
    - value: the string value
    - label: the label for the input (if any)
    - id: the id for the input (if any)
    - name: the name for the input (if any)
    - multiline: boolean to indicate if this is a multiline string
    - metadata: the metadata for the setting (if any)
--}}
<div class="input-group mb-3" data-setting-type="url">
  <label class="input-group-text" for="field-{{id}}" id="field-{{id}}-label">{{label}}</label>
  <input type="url" class="form-control" placeholder="{{label}}" aria-label="{{label}}" aria-describedby="field-{{id}}-label" value="{{value}}" name="{{or name label}}" id="field-{{id}}"/>
</div>