<div class="card {{#if (and (unixIsAfter end_date) (isValidDate end_date))}}border-warning bg-warning-subtle text-bg-warning-subtle{{else}}border-primary bg-primary-subtle text-bg-primary{{/if}}"{{#if (and (unixIsAfter end_date) (isValidDate end_date))}} data-expired="true" data-expired-text="expired"{{/if}}>
  <div class="card-header text-muted">
    <h5 class="card-title">
      <span class="badge bg-primary text-bg-primary text-uppercase float-start">{{this.type}}</span>
      <span class="float-end badge bg-success text-bg-success" style="text-decoration: line-through;">{{> currency value=this.worth symbol="USD"}}</span>
      <div class="fs-2 text-truncate ms-4 me-4 ps-2 pe-2" title="{{this.title}}">{{this.title}}</div>
    </h5>
    <h6 class="card-subtitle mb-2 mt-2 text-body-secondary">
      <span class="float-start">
        <span class="text-uppercase me-1 text-muted">Published:</span>{{> date date=this.published_date unknown="N/A"}}
      </span>
      <span class="float-end">
        <span class="text-uppercase me-1 text-muted">Expires:</span>{{> date date=this.end_date unknown="N/A"}}
      </span>
    </h6>
    <div class="clearfix"><!-- --></div>
  </div>

  <div class="card-body">
    <div class="card-header text-uppercase">Platforms</div>
    <div class="row card-text ms-2 me-2">
      {{#each this.platforms}}
      <div class="col border-bottom">
        <div class="list-group-item mt-1 text-nowrap">{{this}}</div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="card-body">
    <img src="{{this.thumbnail}}" class="card-img-top ms-2 float-end" alt="{{this.title}}" style="max-width: 300px; object-fit: contain;" />
    <p class="card-text">
      <div class="text-start">{{this.description}}</div>
    </p>
    {{#if this.instructions}}
    <p class="card-text text-start">
      <div class="collapse mb-2" id="instructions-{{_id}}">{{this.instructions}}</div>
      <div class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#instructions-{{_id}}">instructions...</div>
    </p>
    {{/if}}
  </div>

  {{#if this.open_giveaway_url}}
  <div class="card-footer text-muted text-end">
    <a href="{{this.open_giveaway_url}}" target="_blank" class="btn btn-primary"><i class="fas fa-external-link-alt me-1"></i>Giveaway</a>
  </div>
  {{/if}}
</div>