<div class="container-x mt-4">
  <div class="justify-content-center">
    <div class="row mb-3">
      <div class="col"></div>
      <div class="col">
        {{> search id="search" name="search" placeholder="Search by Title, Key, User Id" }}
      </div>
      <div class="col"></div>
    </div>
    <div class="row mb-3">
      <div class="col d-flex justify-content-center">
        {{> pager this.pager search=this.search }}
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr class="table-active">
        <th class="text-uppercase text-start">Guild</th>
        <th class="text-uppercase text-start">User</th>
        <th class="text-uppercase text-end">Count</th>
        <th class="text-uppercase"></th>
      </tr>
    </thead>
    <tbody>
      {{#each items}}
      <tr>
        <td class="text-nowrap p-1 text-start">{{> discord/guild id=this.guild_id}}</td>
        <td class="text-nowrap p-1 text-start">{{> discord/user user=this.user_id guild=this.guild_id}}</td>
        <td class="text-nowrap p-1 text-end me-1">{{> taco count=this.count}}</td>
        <td class="text-nowrap">
          <a href="/tacos/edit/{{this.guild_id}}/{{this.user_id}}" class="btn btn-sm btn-action text-primary" title="Edit"><i class="fas fa-edit"></i></a>
          <a href="/tacos/give/{{this.guild_id}}/{{this.user_id}}" class="btn btn-sm btn-action text-success" title="Give"><i class="fas fa-gift"></i></a>
          <a href="/tacos/delete/{{this.guild_id}}/{{this.user_id}}" class="btn btn-sm btn-action text-danger" title="Take"><i class="fas fa-trash"></i></a>
        </td>
      {{/each}}
    </tbody>
  </table>
  
  
  <div class="justify-content-center">
    <div class="row mb-3">
      <div class="col d-flex justify-content-center">
        {{> pager this.pager search=this.search }}
      </div>
    </div>
  </div>
</div>
