<div class="card">
  <div class="card-header text-muted">
    <h5 class="card-title">
      <span class="badge bg-primary text-bg-primary text-uppercase float-start">{{length this.permissions}}</span>
      <div class="fs-2 text-truncate ms-4 me-4 ps-2 pe-2" title="">{{> discord/user user_id=this.user_id guild_id=this.guild_id }}</div>
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="card-header text-uppercase"><span class="mb-1">Guild</span></div>
        <div class="mt-1">{{> discord/guild id=this.guild_id}}</div>
      </div>
      <div class="col">
        <div class="card-header text-uppercase"><span class="mb-1">User</span></div>
        <div class="mt-1">{{> discord/user user_id=this.user_id guild_id=this.guild_id }}</div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">

        <div class="card-header">
          <a href="/permissions/add/{{this.user_id}}" class="btn text-success btn-sm float-end p-0"><i class="fas fa-plus"></i></a>
          <div class="text-uppercase">Permissions</div>
        </div>
        {{#each this.permissions}}
        <div class="mt-2 input-group">
          <div class="text-muted ms-1 mt-2 text-uppercase me-2">
            <i class="fas fa-tag me-1"></i>{{this}}<a href="/permissions/remove/{{this.user_id}}/{{this}}" class="btn text-danger btn-sm ms-2 p-0"><i class="fas fa-trash"></i></a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <div class="card-footer text-muted text-end">
  </div>
</div>